<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.testcase.features.users.repository.UserMapper">
    <insert id="save" parameterType="com.example.testcase.features.users.domain.dto.UserRequestDTO">
        INSERT INTO SPRING_USER_TBL(EMAIL, PASSWORD, NAME)
        VALUES (#{EMAIL}, #{PASSWORD}, #{NAME})
    </insert>

    <!-- findAll --> 

    <select id="findAll" resultType="com.example.testcase.features.users.domain.dto.UserResponseDTO">
        SELECT EMAIL, PASSWORD, NAME 
        FROM SPRING_USER_TBL
    </select>

    <!-- login --> 

    <select id="login" 
            parameterType="com.example.testcase.features.users.domain.dto.UserRequestDTO" 
            resultType="com.example.testcase.features.users.domain.dto.UserResponseDTO">
        SELECT EMAIL, PASSWORD, NAME
        FROM SPRING_USER_TBL
        WHERE EMAIL = #{EMAIL} AND PASSWORD = #{PASSWORD}
    </select>    
</mapper>